In [1]:
import pandas as pd

In [28]:
# index_col is required to be able run methods like diff. Date column is a string and won't work with diff

eth_df = pd.read_csv('eth.csv', index_col='date')

display(eth_df.head())

,open_price,high_price,low_price,close_price,volume,market_cap
date,,,,,,
2017-10-18T00:00:00,316.94,317.24,290.64,314.32,606114000.0,3.016050e+10
2017-10-17T00:00:00,333.48,333.48,311.79,317.08,509924000.0,3.172770e+10
2017-10-16T00:00:00,336.71,349.35,332.04,333.38,692885000.0,3.202920e+10
2017-10-15T00:00:00,339.53,342.72,320.43,336.60,635407000.0,3.229210e+10
2017-10-14T00:00:00,338.85,347.98,334.70,339.63,516562000.0,3.222240e+10

In [30]:
# calculate change in proces
close_price_change = eth_df.diff(periods=-1)

# rename column to be able make join
close_price_change = close_price_change.rename(columns={'close_price': 'close_price_change'})

# add new column to table and select just columns related to close price
cp_df = eth_df.join(close_price_change['close_price_change'])[['close_price', 'close_price_change']]
display(cp_df.head())

                     close_price  close_price_change
date
2017-10-18T00:00:00       314.32               -2.76
2017-10-17T00:00:00       317.08              -16.30
2017-10-16T00:00:00       333.38               -3.22
2017-10-15T00:00:00       336.60               -3.03
2017-10-14T00:00:00       339.63                0.87